/* Catalogos */
.desselecionado {
    display: none;
}

.selecionado{
    display: block;
}

.catalogos .container-xxl {
    display: flex;
}

.barra-lateral, .catalogo {
    margin: 0;
}

.barra-lateral {
    background-color: white;
    padding: .5rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.catalogo-icon {
    color: #EC1847;
    padding: .7rem;
    border-radius: 10px;
    transition: background-color .5s ease;
}

.catalogo-icon:hover,.catalogo-icon.icon-selecionado {
    background-color: #EC1847;
    color: white;
    cursor: pointer;
}

.catalogo {
    flex: 1 1 90%;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.catalogo-todo {
    display: none;
}

.catalogo-selecionado {
    display: flex;
}

.catalogo-corpo {
    width: 100%;
}

.catalogo-conteudo {
    display: flex;
    margin-top: .6rem;
    border-radius: 10px;
    background-color: white;
}

.catalogo-conteudo-descricao {
    flex: 1 1 25%;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(236, 24, 71, 1) 0%, rgba(198, 39, 40, 1) 100%);
}

.catalogo-conteudo-descricao-titulo {
    color: white;
    padding-top: 5rem;
}

.catalogo-conteudo-descricao-titulo h3 {
    font-weight: 600;
    font-size: calc(1rem + 1.5vw);
}

.catalogo-conteudo-descricao-titulo h3.ativado {
    animation: fadeInUp 1s ease-in-out;
}

.catalogo-conteudo-descricao-texto {
    color: #D5A955;
}

.catalogo-conteudo-descricao-texto p {
    font-weight: 600;
    font-size: calc(.7rem + 1vw);
}

.catalogo-conteudo-descricao-texto p.ativado {
    animation: fadeInUp 1.2s ease-in-out;
}

.catalogo-itens {
    flex: 1 1 75%;
    max-height: 600px;
    overflow: auto;
}

.catalogo-item {
    display: flex;
    padding: 1rem;
    text-align: center;
    max-width: 100%;
}

.catalogo-item.ativado {
    animation: fadeInUp 1s ease-in-out;
}

.catalogo-item-img {
    flex: 1 1 25%;
    max-height: 200px;
}

.catalogo-item-img img {
    max-height: 100%;
}

.catalogo-item-caracteristicas {
    flex: 1 1 75%;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    justify-content: center;
}

.catalogo-item-caracteristicas-titulo {
    padding: 1rem;
    background-color: #EC1847;
    color: white;
    align-content: center;
    border-radius: 10px;
}

.catalogo-item-caracteristicas-titulo h4 {
    margin-bottom: 0;
    font-weight: 600;
}

.catalogo-item-caracteristicas-item {
    display: flex;
    gap: .5rem;
}

.item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 1 1 25%;
}

.nome, .valor {
    flex: 1 1 25%;
    padding: .5rem;
    min-height: 61px;
    align-content: center;
}

.nome p, .valor p {
    margin-bottom: 0;
    font-weight: 600;
}

.nome {
    background-color: #EC1847;
    border-radius: 10px;
    color: white;
}

.valor {
    border-radius: 10px;
    border: 1px solid #EC1847;
    color: black;
    font-weight: 600;
}

/* Responsividade */

@media (max-width: 1280px) {
    .catalogo-item-img {
        flex: 1 1 35%;
    }

    .catalogo-item-img img {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .catalogo-conteudo {
        flex-direction: column;
    }

    .catalogo-conteudo-descricao-titulo {
        padding-top: 1rem;
    }
}

@media (max-width: 768px) {
    .catalogo-item {
        flex-direction: column;
    }

    .catalogo-item-img {
        max-height: 250px;
    }

    .catalogo-item-img img {
        max-height: 250px;
        object-fit: contain;
    }
}

@media (max-width: 640px) {
    .section {
        padding: .5rem;
    }

    .catalogos .container-xxl {
        flex-direction: column;
        padding: 0;
    }
    
    .barra-lateral {
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

    .catalogo-icon {
        display: flex;
        align-content: center;
        justify-content: center;
        flex: 1 1 25%;
    }
}

@media (max-width: 480px) {
    .catalogos .container-xxl, .catalogo-item {
        padding: 0;
    }

    .catalogo-conteudo {
        margin-top: 0;
    }

    .catalogo-item-caracteristicas-item {
        flex-wrap: wrap;
    }

    .item {
        flex: 1 1 45%;
    }
}