/* Sobre Banner */
    .sobre-banner {
        background: linear-gradient(90deg, rgba(0, 0, 0, .8) 20%, rgba(0, 0, 0, 0) 100%);
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 80vh;
        padding: 0;
        margin-bottom: 2rem;
    }

    .sobre-video {
        position: absolute;
        width: 100%;        
        height: 100%;
        right: 0;
        left: 0;
        object-fit: contain;
        z-index: -1;
    }

    .sobre-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sobre-banner-texto {
        position: absolute;
        top: 10%;
        left: 4%;
    }

    .sobre-intro {
        margin: auto;
        color: white;
        padding: 1rem;
    }

    .sobre-intro.ativado {
        animation: fadeInRight 1s ease-in-out;
    }

    .sobre-titulo {
        margin: 0 0 1rem 0;
        padding: 0 0 1rem 1rem;
        color: #EC1847;
    }

    .sobre-titulo.ativado {
        animation: fadeInRight 1.2s ease-in-out;
    }

    .sobre-titulo h1 {
        font-family: "Open Sans Bold";
    }

/* Sobre Textos */
    .sobre-texto {
        margin: 0 6rem;
    }

    .sobre-texto-1, .sobre-texto-2 {
        display: flex;
        gap: 2rem;
        max-height: 60vh;
        margin-bottom: 1rem;
    }

    .sobre-texto-2 {
        flex-direction: row-reverse;
    }

    .sobre-texto-paragrafo {
        flex: 1 1 50%;
        margin: auto;
        padding: 5rem;
        line-height: 2.5;
    }

    .sobre-texto-paragrafo-1.ativado {
        animation: fadeInRight 1s ease-in-out;
    }

    .sobre-texto-paragrafo-2.ativado {
        animation: fadeInRight 1.2s ease-in-out;
    }

    .sobre-texto-img{
        display: flex;
        gap: 1rem;
        flex: 1 1 50%;
        width: 100%;
        max-height: 60vh;
    }

    .coluna-1, .coluna-2 {
        flex: 1 1 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .coluna-1 img, .coluna-2 img {
        height: 100%;
    }

    .sobre-orientacao-fotografia {
        height: 60%;
    }

    .sobre-orientacao-fotografia.ativado {
        animation: fadeInRight 1s ease-in-out;
    }

    .sobre-orientacao-paisagem {
        height: 40%;
    }

    .sobre-orientacao-paisagem.ativado {
        animation: fadeInUp 1s ease-in-out;
    }

    .sobre-texto-img img {
        width: 100%;
        object-fit: cover;
    }

    .imagem-texto-2.ativado {
        animation: fadeInUp 1s ease-in-out;
    }

@media (max-width: 1720px) {

    section {
        padding: 0;
    }

    .sobre-texto {
        margin: 0 3rem;
    }

    .sobre-texto-paragrafo {
        padding: 2rem;
    }
}

@media (max-width: 1280px) {
    .sobre-banner {
        min-height: 60vh;
    }

    .sobre-texto-paragrafo {
        padding: 0;
        line-height: 2;
        flex: 1 1 35%;
    }
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .sobre-banner {
        min-height: 50vh;
        background: linear-gradient(90deg, rgba(0, 0, 0, .6));
    }

    .sobre-texto-1, .sobre-texto-2 {
        flex-direction: column;
        max-height: unset;
    }

    .sobre-texto-img {
        max-height: unset;
    }
}

@media (max-width: 640px) {
    .sobre-texto {
        margin: 1rem;
    }

    .sobre-video {
        min-height: 40vh;
    }

    .sobre-video video {
        min-height: 40vh;
    }

    .sobre-texto-1, .sobre-texto-2 {
        gap: 0;
    }
}

@media (max-width: 480px) {
    
}